*.zip
*.pdf
*.exe
*.pptx
*.kux
*.cap
*.gz
*.msi
*.bz2
OTHER/note.php
*.rar
*.mp4
*.7z
Note/Server_note.php
Email/
Chrome/
Background/*
.idea/

host.txt

Idea.md

.DS_Store
_Store
runtime/
Temp
Idea.md
tmp
.vscode
register.html
.user.ini
.DS_Store
¹éµµ.zip
Email
-JSON-handle_0.5.6.crx
node_modules/
themes/
composer.lock
main
nohup.out
public/
!public/assets/js
vendor/